body {
    background: url('../img/movielens_white.png') center center;
    background-size: cover;
    position: relative;
    padding: 0;
}
.layer-body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}
.login_page_wrapper {
    padding-top: 48px;
}